[Desktop Entry]
Type=Application
X-Sailfish-ApplicationType=Silica
Icon=harbour-starling
Exec=harbour-starling
Name=Starling (Personal)
Comment=Sailfish Os Client for Starling Personal account


[X-Sailjail]
Sandboxing=Disabled
